@model User

<h2>Register</h2>

<form action="/register" method="post">
    <div class="form-group col-sm-6">
        <label>Username</label>
        <span asp-validation-for="Username"></span>
        <input type="text" name="Username" class="form-control" />
    </div>
    <div class="form-group col-sm-6">
        <label>Email</label>
        <span asp-validation-for="Email"></span>
        <input type="text" name="Email" class="form-control" />
    </div>
    <div class="form-group col-sm-6">
        <label>Password</label>
        <span asp-validation-for="Password"></span>
        <input type="password" name="Password" class="form-control" />
    </div>
    <div class="form-group col-sm-6">
        <label>Confirm</label>
        <span asp-validation-for="Confirm"></span>
        <input type="password" name="Confirm" class="form-control" />
    </div>
    <input type="submit" class="btn btn-primary" />
</form>